.headerUser {
    height: 112px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link:hover {
    color: grey;
}

.main {
    height: fit-content;
    width: 100%;
}

.createNewRooms {
    width: 70%;
    box-shadow: 0 0 5px black;
    height: fit-content;
    border-radius: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    text-align: center;
    background: black;
    padding-bottom: 2rem;
}

.h2 {
    font-size: 2rem;
    font-family: "Arial", sans-serif;
    color: white;
    padding: 1rem;
}

.form-group input {
    height: 2rem;
    width: 100%;
    background: white;
    color: #8c8c8c;
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.inputBox {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn {
    margin: 1rem;
}