.Components-header {
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: none;
    align-items: center;
    position: absolute;
    box-shadow:  0 0 5px black;
}

.Logo_box{
    align-items: center;
    width: 15rem;
}
.display-flex{
    display: flex;
}

.Small_logo{
    color: white;
    font-size: 0.7rem;
    font-family: "Comic Sans MS",sans-serif;
    margin-left: 0.4rem;
}

.Logo_photo{
    background-image: url("../../assets/Love PNG Love PNGTREE.png");
    background-size: 100%;
    height: 47px;
    width: 63px;
}

.Components-header_link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.Components-header_link:hover,
.Components-header_Logo:hover{
    color: #8c8c8c;
}

.Components-header_Logo{
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    font-family: Cambria, sans-serif;
    margin-top: 0.6rem;
}