.headerUser{
    height: 112px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link:hover{
    color: grey;
}