.headerUser{
    height: 112px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link:hover{
    color: grey;
}

.display-flex{
    display: flex;
}

.context_box{
    width: 100%;
    background: #8c8c8c;
    margin: 0.5rem;
}

main{
    width: 100%;
}